<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">tkjwrcqywqrang</property>
        <property name="hibernate.connection.password">535906b0fd563114de396931b3401eb924288cc4d3572f0297e7b77b4e5570c5</property>
        <property name="hibernate.connection.url">jdbc:postgresql://ec2-23-23-80-20.compute-1.amazonaws.com:5432/dab7909qv6f7sf</property>



        <property name="connection_pool_size">1</property>

        <property name="hbm2ddl.auto">create</property>

        <property name="show_sql">true</property>

       <mapping class="org.javabrains.sanjaya.dto.UserDetails"/>

    </session-factory>
</hibernate-configuration>